* {
    padding: 0;
    margin: 0;
}

.container {
    padding: 20px;
    width: 1000px;
    min-height: 100vh;
    margin: 0 auto;
    background-color: rgb(236, 233, 233);

}

.dashboard {
    width: 100%;
    padding: 10px 0;

}

.createNew {
    width: 90px;
    height: 30px;
    font-weight: bold;
    margin-right: 15px;
}

.search {
    width: 300px;
    height: 24px;
}

.notes {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    min-height: 40px;
}

.note {

    margin: 10px 0;
    width: 200px;
    margin-right: 10px;


}

.noteHeader {
    display: flex;
    height: 40px;
    background-color: rgb(255, 255, 202);
    border-top: 1px;
    border-left: 1px;
    border-right: 1px;
    border-bottom: 1px;
    border-style: solid;
    border-color: black;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}

.li {
    max-width: 100%;
}

.noteBody ul {
    margin: 0;
    width: 95%;
    min-height: 160px;
    padding: 5px;
    list-style: none;
    word-wrap: break-word;


}

.noteBody {
    background-color: rgb(255, 255, 202);

    border-top: 0px;
    border-left: 1px;
    border-right: 1px;
    border-bottom: 1px;
    border-style: solid;
    border-color: black;
}

.addNoteForm {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 300px;
    border: 1px solid black;
    padding: 20px;
}

.noteInfo {
    display: flex;
    flex-direction: column;
}

.noteInfo button {
    margin-top: 15px;
    ;
}

.addNoteForm>button {
    width: 110px;
    height: 30px;
    margin: 20px auto;

}

.addItem {
    margin: 0;
    width: 100%;
}

.hidden {
    display: none;
}

.close:hover {
    cursor: pointer;
}